<!------ Include the above in your HEAD tag ---------->

<% content_for :page_title do %>
  <%= Spree.t(:listing_email_contents) %>
<% end %>

<%# content_for :page_actions do %>
  <%#= button_link_to Spree.t(:new_email_content), new_object_url, class: 'btn-success', icon: 'add', id: 'admin_new_email_content_link' %>
<%# end if can?(:create, Spree::EmailContent) %>

<div id="notice"></div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked admin-menu">
        <% @email_contents.each do |email_content,index| %>
          <li class="<%= @email_contents.first == email_content ? "active" : ""%>"><a href="#" data-target-id="order-<%= email_content.id%>"><i class="fa fa-edit"></i> <%= email_content.subject %> </a></li>
        <% end %>
      </ul>
    </div>
    <% @email_contents.each do |email_content| %>
      
      <div class="col-md-9 well admin-content" id="order-<%= email_content.id%>">
        <%# if email_content.persisted? %>
          <%#= link_to_with_icon 'translate', nil, spree.admin_translations_path('email_contents', email_content.id), title: Spree.t(:'i18n.translations'), class: 'btn btn-md btn-primary pull-right' %>
        <%# end %>
        <div data-hook="admin_email_content_edit_form_header">
          <%= render 'spree/shared/error_messages', target: email_content %>
        </div>

        <div data-hook="admin_email_content_edit_form">
          <%= form_for [:admin, email_content], remote: true do |f| %>
            <div class="row">
              <div class="col-md-12">
                <%= render 'form', f: f %>
                <%= render 'spree/admin/shared/edit_resource_links' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
