<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 5px; text-align: #{place}">
  <%= address.try(:firstname) %>
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 5px; text-align: #{place}">
  <%= address.try(:address1) %>
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 5px; text-align: #{place}">
  <%= address.try(:zipcode) %>
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 5px; text-align: #{place}">
  <%= address.try(:country).try(:name) %>
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 5px; text-align: #{place}">
  Tel: <%= address.try(:phone) %>
</p>